$font-family: "Roboto", sanserif;
$black-color: #000;
$white-color: #fff;
$text-color: #333;
$red-color: #d52220;
$gray-light-color: #e9e9e9;
$gray-color: #999999;
$btn-color: #545457;
$border-color: #e1e1e1;
$primary-font: "Roboto", sans-serif;
$secondary-font: "Open Sans", sans-serif;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
