.policy {
   line-height: 1.8;
   b {
      font-weight: bold;
      display: inline-block;
      margin: 1rem 0;
   }
   strong {
      font-weight: bold;
      display: inline-block;
      margin: 1rem 0;
   }
}
